<main>
    <img id="sadFaceImg"
        src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png"
        alt="sad face" />
    <h1>401</h1>
    <h2>Who is not authorized?</h2>
    <h2>You!</h2>
    <h2>You is not authorized?</h2>
</main>
