<div class="cube">
    <img class="cube" src= {{ImageUrl}}>
    <p class="name">{{Name}}</p>
    <p><span>Difficulty level:</span> {{DifficultyLevel}}</p>
    <a class="btn" href="/cubic/details/{{Id}}">Details</a>
</div>